

<div class="jobs-container">
    <h1>Latest Jobs On XYZ</h1>
    <div class="jobs-grid">
      <div class="job-card" *ngFor="let job of jobs">
        <h3>{{ job.title }}</h3>
        <button class="view-more-btn" *ngIf="job" [routerLink]="['/view-job', job?.id]" >View More..</button>
        <ul class="job-details">
          <li>{{ job.location }}</li>
          <li>₹{{ job.salary }}</li>
          <li>{{ job.experience }} Year</li>
          <li>{{ job.workModel }}</li>
        </ul>
      </div>
    </div>
  </div>
   