<div  class="background-image">
<div class="apply-job-container">
  <h2>Apply for Internship</h2>
  <form [formGroup]="applyForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName" required />
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName" required />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required />
    </div>
    <div>
      <label for="country">Country:</label>
      <input type="text" id="country" formControlName="country" required />
    </div>
    <div>
      <label for="mobileNumber">Mobile Number:</label>
      <input type="text" id="mobileNumber" formControlName="mobileNumber" required />
    </div>
    <div>
      <label for="location">Location:</label>
      <input type="text" id="location" formControlName="location" required />
    </div>
    <div>
      <label for="cv">Upload CV:</label>
      <input type="file" id="cv" (change)="onFileChange($event)" />
    </div>
    <button type="submit" [disabled]="applyForm.invalid">Submit Application</button>
  </form>
</div>
</div>
