.course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divides the page into three parts */
    gap: 20px; /* Adds gap between each card */
    padding: 20px;
  }
  
  .course-card {
    background: linear-gradient(135deg, #84e5eb,#78d2e4, #66b5d9, #579dcf, #559acf, #4d8dc9, #4682c6, #427cc3);
    color: #fff;
    padding: 30px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  }
  
  .course-card:hover {
    transform: scale(1.05);
  }
  
  .course-duration {
    font-size: 30px;
    margin-top: 10px;
    color: #e0e0e0;
  }
  
  .course-stars {
    color: gold;
    font-size: 30px;
    margin: 5px 0;
  }
  
  .learners {
    font-size: 20px;
    color: #e0e0e0;
    margin-top: 10px;
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .course-container {
      grid-template-columns: 1fr; /* Stacks the cards on top of each other on smaller screens */
    }
  }
  