
<div class="course-container">
    <div class="course-card" *ngFor="let course of courses">
      <h2>{{ course.title }}</h2>

      <p>{{ course.description }}</p>
      
      <!-- Duration -->
      <p class="course-duration">{{ course.duration }}</p>
      
      <!-- Stars -->
      <p class="course-stars">
        <span *ngFor="let star of stars" class="gold-star">{{ star }}</span>
      </p>
      
      <!-- Learners count -->
      <p class="learners">{{ course.learners }} Learners</p>
    </div>
  </div>
  