
<!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />


<!-- Bootstrap CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />


<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-4 col-md-4 col-lg-2 sidebar sticky-top">
      <div class="text-center my-3">
        <img src="../../../assets/AchaJobs.png" width="150" alt="" />
        <h5 class="text-black">Admin</h5>
      </div>
      <hr />
      <ul class="nav flex-column mx-5 ">
        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/save-job']" routerLinkActive="router-link-active">
            <i class="fa fa-briefcase text-warning"></i> Job's
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link " [routerLink]="['/internship']">
            <i class="fa-brands fa-wpforms"></i> Internship
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/userslist']">
            <i class="fas fa-envelope text-info"></i> UserList
          </a>
        </li>

        <li class="nav-item mb-2">
          <a class="nav-link" [routerLink]="['/view-all-forms-admin']">
            <i class="fas fa-envelope text-info"></i>View Forms
          </a>
        </li>

       
      </ul>
    </nav>

    <!-- Main content -->
    <div class="col-8 col-md-8 col-lg-10 p-0">
      <!-- topbar start -->
      <div class="d-flex justify-content-between align-items-center topbar">
        <div class="d-flex gap-2 align-items-center">
          <i class="fa-solid fa-bars fa-xl"></i>
          <!-- <img src="https://openfuturetechnologies.com/images/logoimg.png" width="150" alt="" /> -->
        </div>
        <div>
          <!-- <i class="fas fa-bell me-3"></i> -->
          <span class="dropdown-toggle p-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img
            src="../../../assets/userimage.png"
              class="rounded-circle img-fluid" alt="User" style="width: 40px; height: 40px" />
            Admin
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <li><a class="dropdown-item" href="#">My Profile</a></li> -->
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </div>
      </div>

  <!-- <div *ngIf="admin">
  <h3>Admin Details</h3>
  <p><strong>ID:</strong> {{ admin.id }}</p>
  <p><strong>Name:</strong> {{ admin.name }}</p>
  <p><strong>Email:</strong> {{ admin.email }}</p>
</div>
<div *ngIf="error" style="color: red;">
  {{ error }}
</div> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>



<div class="admin-panel-container">
    <h1>Registered Users</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>Mobile No</th>
          <th>Gender</th>
          <th>Email ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.fullName }}</td>
          <td>{{ user.mobileNo }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.emailId }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  